.list {
  width: 400px;
  text-align: center;
  list-style: none;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.listItemText {
  margin-right: 10px;
}

.button {
  height: 32px;
  padding: 4px 8px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.button:hover {
  color: aliceblue;
  background-color: darkred;
}
